body{
    margin:0;
}
#maindiv{
    
    margin:0 auto;
}
#head1{
    font-weight:700;
font-family: "MuseoSans-700",sans-serif;
font-size: 3rem;
line-height: 130%;
letter-spacing: -0.3px;

color: #4b4b4b;
text-align: center;
margin:0;
text-transform: none;

}
#para1{
    text-align: center;
    font-size: 20px;
    line-height: 150%;
    margin: 5px 0 25px;
    color: #4b4b4b;
   
}
#but1{
    background-color: #f37e5d;
    padding: 15px 20px;
    border: 0;
    transition: all .2s ease-in-out;
    font-weight: normal;
    font-family: "MuseoSans-700",sans-serif;
    color: #fff;
    font-size: 15px;
    
    min-width: 220px;
    border-radius: 3px;
    margin: auto;
    display: block;
}
#but1:hover{
    cursor: pointer;
    background-color:#e95026 ;
}
#d1{
    
    background-color: #F8F8F8;
    padding: 3.3%;
}
#hImg{
    
    width: 70%;
    
   
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    /* grid-template-rows: repeat(2,220px); */
    grid-template-areas: "a b c d e"
                          "f g h i j" ;
                          
                          column-gap: 0;
   margin-top:1% ;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  
}
#hImg>div>p{
    color: #4b4b4b;
    margin-left:5%;
  
}

#hImg>div:nth-of-type(1){
    grid-area: a;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
   
}
#hImg>div:nth-of-type(2){
    grid-area: b;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#hImg>div:nth-of-type(3){
    grid-area: c;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    

}
#hImg>div:nth-of-type(4){
    grid-area: d;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#hImg>div:nth-of-type(5){
    grid-area: e;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1.95px 0;
}
#hImg>div:nth-of-type(6){
    grid-area: f;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 0 2.6px;
}
#hImg>div:nth-of-type(7){
    grid-area: g;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 0 2.6px;
}
#hImg>div:nth-of-type(8){
    grid-area: h;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 0 2.6px;
}
#hImg>div:nth-of-type(9){
    grid-area: i;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 0 2.6px;
}
#hImg>div:nth-of-type(10){
    grid-area: j;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 0;
    

}
#d3{
    text-align: center;
    width: 80%;
    margin: 5% auto;
}

#d4>div:nth-of-type(1){
    grid-area: a;
   

}
#d4>div:nth-of-type(2){
    grid-area: b;
    
}
#d4>div:nth-of-type(3){
    grid-area: g;
    
}
#d4>div:nth-of-type(4){
    grid-area: d;
    
}
#d4>div:nth-of-type(5){
    grid-area: f;
    
}
#d4>div:nth-of-type(6){
    grid-area: c;
    
}
#d4>div:nth-of-type(7){
    grid-area: h;
    
}
#d4>div:nth-of-type(8){
    grid-area: e;
    
}

#d4>div>img{
    width: 100%;

}
#d4{
 display: grid;
 grid-template-columns: repeat(5,1fr);
grid-template-rows: repeat(2,100px);
 width: 100%;
 margin:auto;
 gap:2%;
 grid-template-areas: "a b c d e"
                       "a f g h e ";

}
#d3>h2{
    color: #4b4b4b;
    font-size: 2rem;
}

#hImg>div>img{
    
   width: 80%;
   margin-left:5% ;
  
    animation-name: img1;
    animation: img1 1s 1 forwards;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
   
}

@keyframes img1{
    0% {
        opacity: 0;
        transform: scale(1.4) translateY(80px);
    }
    100%{
        
            opacity: 1;
            transform: scale(1) translateY(0px);
        }
    
}

   


@media only screen and (min-width:1000px) and (max-width:1200px) {
    #d4{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,100px);
        grid-template-areas:"a b c d"
                            "f g h e " ;
        
    }
    #hImg{
        gap: 0;
        height:50%
    }
    #hImg{
        width:80%;
    }

}
@media only screen and (min-width:610px) and (max-width:999px) {
    #d4{
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(3,100px);
        grid-template-areas:"a a b b c c  "
                            "d d e e f f "
                             ". g g h h .";
        
    }
    #hImg{
        gap: 0;
        height:50%
    }
    #head1{
        font-size: 2rem;
    }
    

}
@media only screen and (min-width:318px) and (max-width:609px) {
    #d4{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,100px);
        grid-template-areas:"a b"
                             "c d"
                             "e f"
                             "g h";
        
    }
    #head1{
        font-size: 1.5rem;
    }
    
    #hImg{
        gap: 0;
        height:15%
    }
    

}

@media only screen and (min-width:0) and (max-width:317px) {
    #d4{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(8,100px);
        grid-template-areas:"a"
                            "b"
                             "c"
                             "d"
                             "e"
                             "f"
                             "g"
                             "h";
        
    }
    #hImg{
        gap: 0;
        height:2%
    }
    

}
@media only screen and (min-width:0) and (max-width:1022px){
    #hImg{
        width:90%;
    }
}


