.header {
  width: 100%;
  height: 65px;
  display: flex;
  /* border: 1px solid rgb(19, 18, 18); */
  font-family: sans-serif;
  background-color: #f8f8f8;
}
#header_logo {
  width: 26%;
  height: 100%;
  /* border: 1px solid red; */
  margin-left: 1px;
  object-fit: contain;
}
.header_left_section {
  width: 50%;
  height: 100%;

  display: flex;
  font-weight: 600;
  font-size: x-small;
  justify-content: space-evenly;
  /* border: 1px dashed red; */
}
.header_p {
  margin-top: 22px;
  margin-left: 10px;
}
.header_right_section > p:hover {
  color: #f37e5d;
}
.header_p:hover {
  cursor: pointer;
  color: #f37e5d;
}
.header_right_section {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  font-weight: 600;
  font-size: x-small;
}
.header_right_section > button {
  background-color: #f37e5d;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  height: 65%;
  width: 23%;
  margin-top: 10px;
}
.header_right_section > button:hover {
  background-color: #e07355;
}
.header_right_section > p {
  margin-top: 20px;
  margin-right: 15px;
}
/* //.product-list */

.product-list {
  display: none;
  position: absolute;
  background-color: white;
  top: 65px;
  left: -150px;
  width: 35%;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 1;
}
.product-box1 > button > img {
  width: 30%;
  height: 30%;
  object-fit: contain;
  margin-left: 2px;
  margin-top: 10px;
  padding: 10px;
}
.product-box1 > button {
  display: flex;
  text-align: left;
  font-size: smaller;
  background-color: white;
  cursor: pointer;
  margin-bottom: 20px;
  border: none;
  width: 100%;
  height: 40%;
}
.product-box1 > button:hover {
  background-color: rgb(245, 245, 245);
}
.product-box2 > button:hover {
  background-color: rgb(245, 245, 245);
}
.product-box1 > h6 {
  margin: 2px;
  margin-bottom: 2px;
  margin-left: 40px;
  font-size: smaller;
  color: grey;
}
.product-box1 p {
  margin-top: 1px;
  font-size: x-small;
  color: grey;
}
.product-box2 p {
  text-align: left;
  margin-left: 2px;
}
.product-box1 h4 {
  margin-bottom: 2px;
  margin-left: 4%;
}
.product-box2 {
  width: 40%;
  height: 100%;
  margin: 5px;
}
.product-box2 > button {
  width: 100%;
  display: flex;
  height: 40%;
  background-color: white;
  cursor: pointer;
  font-weight: 700;
  text-align: left;
  border: none;
}
.product-box1 {
  width: 60%;
  height: 100%;
}
.product-box2 img {
  width: 25%;
  height: 25%;
  object-fit: contain;
  margin-top: 10%;
  margin-right: 1pxpx;
}
.product-box2 h6 {
  margin: 3px;
  color: grey;
  text-align: center;
}

#dropdown {
  position: relative;
  display: inline-block;
}
#dropdown:hover .product-list {
  display: flex;

  width: 800%;
  height: 250px;
  padding-top: 25px;

  /* z-index: 1; */
}
#whyCo {
  display: none;
  position: absolute;
  background-color: white;
  top: 65px;
  padding: 20px;
  left: -30px;
  width: 20%;
  height: 200px;
  line-height: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 1;
}
#whyCo > button {
  border: none;
  width: 100%;
  background-color: white;
  font-size: xx-small;
  text-align: left;
}
#whyCo > button:hover {
  background-color: whitesmoke;
}
#whyCo_dropdown {
  position: relative;
  display: inline-block;
}
.whyCo_head {
  font-weight: 800;
  margin-bottom: 2px;
  margin-top: 1px;
}
#whyCo_dropdown:hover #whyCo {
  display: block;
  width: 150%;
  height: 200px;
}
#resource_drop {
  display: none;
  position: absolute;
  background-color: white;
  top: 65px;
  padding: 20px;
  width: 30%;
  height: 220px;
  line-height: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  left: -400px;
  font-size: smaller;
  line-height: 20px;
  z-index: 1;
}
thead > tr {
  margin-top: 50px;
  margin-bottom: 50px;
}
tbody > tr {
  margin-bottom: 51px;
}

td > button {
  display: flex;
  width: 80%;

  border: none;
  font-size: xx-small;
  background-color: white;
}

#resource_drop img {
  width: 10%;
  height: 10%;
  object-fit: cover;
}

#resource_box1 {
  width: 40%;
  height: 100%;
}
tbody > tr:hover {
  background-color: whitesmoke;
}
#resource_box1 ~ div {
  margin-left: 10px;
  color: grey;
}

#resource_dropdown {
  display: block;
  position: relative;
}
#resource_dropdown:hover #resource_drop {
  display: flex;
  width: 700%;
  height: 200px;
  padding: 50px;
}
#resource_dropdown:hover tr {
  margin-bottom: 500px;
}

#maindiv {
  margin: 0 auto;
}
#head1 {
  font-weight: 700;
  font-family: "MuseoSans-700", sans-serif;
  font-size: 3rem;
  line-height: 130%;
  letter-spacing: -0.3px;

  color: #4b4b4b;
  text-align: center;
  margin: 0;
  text-transform: none;
}
#para1 {
  text-align: center;
  font-size: 20px;
  line-height: 150%;
  margin: 5px 0 25px;
  color: #4b4b4b;
}
#but1 {
  background-color: #f37e5d;
  padding: 15px 20px;
  border: 0;
  transition: all 0.2s ease-in-out;
  font-weight: normal;
  font-family: "MuseoSans-700", sans-serif;
  color: #fff;
  font-size: 15px;

  min-width: 220px;
  border-radius: 3px;
  margin: auto;
  display: block;
}
#but1:hover {
  cursor: pointer;
  background-color: #e95026;
}
#d1 {
  background-color: #f8f8f8;
  padding: 3.3%;
}
#hImg {
  width: 70%;

  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-rows: repeat(2,220px); */
  grid-template-areas:
    "a b c d e"
    "f g h i j";

  column-gap: 0;
  margin-top: 1%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#hImg > div > p {
  color: #4b4b4b;
  margin-left: 5%;
}

#hImg > div:nth-of-type(1) {
  grid-area: a;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#hImg > div:nth-of-type(2) {
  grid-area: b;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#hImg > div:nth-of-type(3) {
  grid-area: c;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#hImg > div:nth-of-type(4) {
  grid-area: d;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#hImg > div:nth-of-type(5) {
  grid-area: e;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1.95px 0;
}
#hImg > div:nth-of-type(6) {
  grid-area: f;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 0 2.6px;
}
#hImg > div:nth-of-type(7) {
  grid-area: g;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 0 2.6px;
}
#hImg > div:nth-of-type(8) {
  grid-area: h;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 0 2.6px;
}
#hImg > div:nth-of-type(9) {
  grid-area: i;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 0 2.6px;
}
#hImg > div:nth-of-type(10) {
  grid-area: j;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 0;
}
#d3 {
  text-align: center;
  width: 80%;
  margin: 5% auto;
}

#d4 > div:nth-of-type(1) {
  grid-area: a;
}
#d4 > div:nth-of-type(2) {
  grid-area: b;
}
#d4 > div:nth-of-type(3) {
  grid-area: g;
}
#d4 > div:nth-of-type(4) {
  grid-area: d;
}
#d4 > div:nth-of-type(5) {
  grid-area: f;
}
#d4 > div:nth-of-type(6) {
  grid-area: c;
}
#d4 > div:nth-of-type(7) {
  grid-area: h;
}
#d4 > div:nth-of-type(8) {
  grid-area: e;
}

#d4 > div > img {
  width: 100%;
}
#d4 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 100px);
  width: 100%;
  margin: auto;
  gap: 2%;
  grid-template-areas:
    "a b c d e"
    "a f g h e ";
}
#d3 > h2 {
  color: #4b4b4b;
  font-size: 2rem;
}

#hImg > div > img {
  width: 80%;
  margin-left: 5%;

  animation-name: img1;
  animation: img1 1s 1 forwards;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes img1 {
  0% {
    opacity: 0;
    transform: scale(1.4) translateY(80px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  #d4 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 100px);
    grid-template-areas:
      "a b c d"
      "f g h e ";
  }
  #hImg {
    gap: 0;
    height: 50%;
  }
  #hImg {
    width: 80%;
  }
}
@media only screen and (min-width: 610px) and (max-width: 999px) {
  #d4 {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-template-areas:
      "a a b b c c  "
      "d d e e f f "
      ". g g h h .";
  }
  #hImg {
    gap: 0;
    height: 50%;
  }
  #head1 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 318px) and (max-width: 609px) {
  #d4 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 100px);
    grid-template-areas:
      "a b"
      "c d"
      "e f"
      "g h";
  }
  #head1 {
    font-size: 1.5rem;
  }

  #hImg {
    gap: 0;
    height: 15%;
  }
}

@media only screen and (min-width: 0) and (max-width: 317px) {
  #d4 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 100px);
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f"
      "g"
      "h";
  }
  #hImg {
    gap: 0;
    height: 2%;
  }
}
@media only screen and (min-width: 0) and (max-width: 1022px) {
  #hImg {
    width: 90%;
  }
}

/* body {
  text-align: center;
  box-shadow: rgba(173, 201, 14, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
} */

#container {
  width: 60%;
  margin: auto;
  display: grid;
  grid-gap: 60px;
  grid-template-columns: repeat(2, 1fr);
}
#heading_in_the_middle {
  margin: 75px;
  /* padding: 100px; */
  text-align: center;
}

.box {
  /* width: 90%; */
  margin: 0px;

  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.box1 {
  width: auto;
  height: 150px;
  box-shadow: tomato;
}
.boxa {
  width: auto;
  height: 150px;
  box-shadow: tomato;
}
.box3 {
  height: 30px;
  width: 180px;
  padding: 10px;
  background-color: #ffede3;
}
.box2 h3 {
  margin-top: 2px;
}
.box2 {
  padding: 1px;
  background-color: white;
  width: auto;
  text-align: left;
  padding-left: 20px;
  margin-bottom: 20px;
}
.box4 {
  padding-right: 100px;
  background-color: white;
  width: auto;
}
.btn {
  width: 50px;
  padding: 30px;
  color: #f37e5d;
}
/* 
  .text {
    padding: 10px;
  } */
span {
  color: tomato;
}
#explore_button {
  background-color: tomato;
  padding: 10px;
  color: white;
  width: 30%;
  height: 10%;
  border: none;
}
#explore_button:hover {
  cursor: pointer;
  background-color: rgb(231, 87, 62);
}

.img {
  height: 100%;
  width: 100%;

  position: relative;

  margin-top: -20px;
  object-fit: cover;
}
.icon {
  height: 70px;
  align-items: start;
  position: relative;
  margin-right: 300px;
  margin-top: -50px;
  margin-left: 10px;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  object-fit: cover;
}
.explore3 {
  height: 20px;
  width: 180px;
  padding: 10px;
  background-color: #dfe8f9;
  color: #618be0;
}

.mainimg {
  height: 50px;
  align-items: start;
}

.explore4 {
  height: 20px;
  width: 180px;
  padding: 10px;
  background-color: #e6defa;
}
.btn3 {
  color: #618be0;
}
.btn4 {
  color: #835ce5;
}

.icon2 {
  align-items: start;
  position: relative;
  margin-right: 300px;
  margin-bottom: 0px;
  margin-top: -50px;
  background-color: white;
  object-fit: cover;
}

.tickdown {
  color: blue;
}

@media only screen and (min-width: 780px) and (max-width: 1080px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.Bigbox {
  justify-content: center;
  height: 600px;
}

#downcontainer {
  height: 400px;
  width: 90%;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}
.Bigbox {
  margin: auto;
  height: 50%;
}
.Bigbox > h2 {
  font-family: monospace;
  font-size: 30px;
  padding: 2px;
  text-align: center;
}
.Bigbox > p {
  font-size: 25px;
}
.Bigbox > p {
  text-align: center;
}
/* div {
    margin-left: 60px;
    margin-right: 20px;
  } */
/* h2 {
    font-style: inherit;
    padding: 20px;
    text-align: center;
  } */
/* 
  h2 + p {
    text-align: center;
  } */

.firstbox:hover {
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.firstbox {
  height: 300px;
  background-color: white;
  text-align: center;
  margin-left: 60px;
  margin-right: 20px;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.firstbox > h2 {
  padding-bottom: -50px;
  margin-bottom: -40px;
  font-style: italic;
  padding: 20px;
  text-align: center;
}

.firstbox > img {
  padding: 40px;
  height: 40%;
  object-fit: contain;
}
/* p {
    font-size: 20px;
  } */

@media only screen and (min-width: 0) and (max-width: 375px) {
  #downcontainer {
    grid-template-columns: 100%;
  }
}
@media only screen and (min-width: 376px) and (max-width: 768px) {
  #downcontainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
#our_product_part2 {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding-top: 20px;
  margin-top: 50px;
}
