.header {
  width: 100%;
  display: flex;
  /* border: 1px solid rgb(19, 18, 18); */
  font-family: sans-serif;
  background-color: #f8f8f8;
  color: white;
  background-color: lightsalmon;
}
#header_logo {
  width: 26%;
  height: 100%;
  /* border: 1px solid red; */
  margin-left: 1px;
  object-fit: contain;
}
.header_left_section {
  width: 100%;
  height: 100%;

  display: flex;
  font-weight: 600;
  font-size: smaller;
  justify-content: space-evenly;
  /* border: 1px dashed red; */
}
.header_p {
  margin-top: 22px;
  margin-left: 10px;
}
.header_right_section > p:hover {
  color: #f37e5d;
}
.header_p:hover {
  cursor: pointer;
  color: #f37e5d;
}
.header_right_section {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-weight: 600;
  font-size: smaller;
}
.header_right_section > button {
  background-color: #f37e5d;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  height: 65%;
  width: 23%;
  margin-top: 10px;
}
.header_right_section > button:hover {
  background-color: #e07355;
}
.header_right_section > p {
  margin-right: 15px;
}
/* //.product-list */

.product-list {
  display: none;
  position: absolute;
  top: 65px;
  left: -150px;
  width: 35%;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 1;
}
.product-box1 > button > img {
  width: 30%;
  height: 30%;
  object-fit: contain;
  margin-left: 2px;
  margin-top: 30px;
  padding: 10px;
}
.product-box1 > button {
  display: flex;
  text-align: left;
  font-size: smaller;
  background-color: white;
  cursor: pointer;
  margin-bottom: 20px;
  border: none;
  width: 100%;
  height: 40%;
}
.product-box1 > button:hover {
  background-color: rgb(245, 245, 245);
}
.product-box2 > button:hover {
  background-color: rgb(245, 245, 245);
}
.product-box1 > h6 {
  margin: 2px;
  margin-bottom: 2px;
  margin-left: 40px;
  font-size: smaller;
  color: grey;
}
.product-box1 p {
  margin-top: 1px;
  font-size: x-small;
  color: grey;
}
.product-box2 p {
  text-align: left;
  margin-left: 2px;
}
.product-box1 h4 {
  margin-bottom: 2px;
  margin-left: 4%;
}
.product-box2 {
  width: 40%;
  height: 100%;
  margin: 5px;
}
.product-box2 > button {
  width: 100%;
  display: flex;
  height: 40%;
  background-color: white;
  cursor: pointer;
  font-weight: 700;
  text-align: left;
  border: none;
}
.product-box1 {
  width: 60%;
  height: 100%;
}
.product-box2 img {
  width: 25%;
  height: 25%;
  object-fit: contain;
  margin-top: 10%;
  margin-right: 1pxpx;
}
.product-box2 h6 {
  margin: 3px;
  color: grey;
  text-align: center;
}

#dropdown {
  position: relative;
  display: inline-block;
}
#dropdown:hover .product-list {
  display: flex;

  width: 800%;
  height: 250px;
  padding-top: 25px;
  transition: 1s;
  z-index: 1;
}
#whyCo {
  display: none;
  position: absolute;
  top: 65px;
  padding: 10px;
  left: -30px;
  width: 20%;
  height: 200px;
  line-height: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 1;
}
#whyCo > button {
  border: none;
  width: 100%;
  background-color: white;
  font-size: xx-small;
  text-align: left;
}
#whyCo > button:hover {
  background-color: whitesmoke;
}
#whyCo_dropdown {
  position: relative;
  display: inline-block;
}
.whyCo_head {
  font-weight: 800;
  margin-bottom: 2px;
  margin-top: 1px;
}
#whyCo_dropdown:hover #whyCo {
  display: block;
  width: 150%;
  height: 200px;
}
#resource_drop {
  display: none;
  position: absolute;
  top: 65px;
  padding: 20px;
  width: 30%;
  height: 220px;
  line-height: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  left: -400px;
  font-size: smaller;
  line-height: 20px;
  z-index: 1;
}
thead > tr {
  margin-top: 50px;
  margin-bottom: 50px;
}
tbody > tr {
  margin-bottom: 51px;
}

td > button {
  display: flex;
  width: 80%;

  border: none;
  font-size: xx-small;
  background-color: white;
}

#resource_drop img {
  width: 10%;
  height: 10%;
  object-fit: cover;
}

#resource_box1 {
  width: 40%;
  height: 100%;
}
tbody > tr:hover {
  background-color: whitesmoke;
}
#resource_box1 ~ div {
  margin-left: 10px;
  color: grey;
}

#resource_dropdown {
  display: block;
  position: relative;
}
#resource_dropdown:hover #resource_drop {
  display: flex;
  width: 700%;
  height: 200px;
  padding: 50px;
}
#resource_dropdown:hover tr {
  margin-bottom: 500px;
}
@media only screen and (min-width: 0px) and (max-width: 380px) {
  .header {
    display: grid;
    grid-template-columns: 100%;
    font-size: x-small;
  }
}
#main_banner {
  background-color: lightsalmon;
  width: 100%;
  height: 500px;
  box-sizing: border-box;

  font-family: sans-serif;
  color: white;

  align-items: center;
  border: 1px solid black;
}
#main_banner > div {
  width: 100%;
  height: 50%;
  margin-top: 7%;
  /* padding-top: 15%; */
  /* padding-left: 25%; */
  border: 1px solid red;
  text-align: center;
}
#heading {
  /* display: flex; */
  /* text-align: center; */
  margin-left: 42%;
}
#heading > button {
  background-color: salmon;
  display: flex;

  border: none;
  height: 48px;
  width: 35%;
  color: white;
  font-weight: bold;
}
#heading > button > img {
  object-fit: cover;
  height: 100%;
  width: 20%;
  margin-left: -10px;
  padding-right: 10px;
}
/* #heading > p {
  margin-left: 10px;
  margin-bottom: 20px;
  background-color: salmon;
  height: 100%;
} */
