body {
  background-color: whitesmoke;
}
#pricing_block > a > img {
  width: 13%;
  height: 50px;
  object-fit: contain;
  vertical-align: middle;
  background-color: whitesmoke;
}
#pricing_block {
  margin: auto;
  width: 100%;
  /* border: 1px dashed red; */
}
#pricing_block > a {
  /* display: inline-block; */
  text-align: center;
  width: 10%;
  margin-left: 44%;
}
.main_head > h1 {
  text-align: center;

  /* width: 50%;
  margin-left: 40%; */
}
.main_head {
  height: 175px;
  width: 50%;
  margin: auto;
  /* border: 1px dashed black; */
  text-align: center;
}
#price_plan {
  width: 60%;
  margin: auto;
  display: flex;

  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
#price_plan > div {
  text-align: center;
  /* border: 1px dashed chocolate; */
  background-color: white;
  border-top: 5px solid #f37e5d;
  /* line-height: 20px; */
}
/* #price_plan > div:nth-child(2) {
  border-top: blue;
} */
#price_plan a {
  color: #f37e5d;
}
#price {
  line-height: 20px;
  margin: 80px 0px;
  line-height: 30px;
  /* border: 1px solid green; */
}
#price > h1 {
  margin: 1px 1px;
}
#price > p {
  margin: 5px 1px;
}
#price_plan > div > button {
  border: none;
  background-color: #f37e5d;
  color: white;
  height: 60px;
  width: 200px;
  /* padding: 20px 0px; */
  margin-bottom: 30px;
  margin-top: 10%;
}
#box1 {
  margin-top: 10px;
  /* border: 1px solid firebrick; */
  padding: 1px 40px;
  font-size: x-small;
}
#box1 p {
  color: grey;
}
#box2 {
  margin-top: 50px;
  height: 100px;
}
#box2 > div > p {
  font-size: large;
  font-weight: bold;
}
#box2 > div {
  line-height: 5px;
}
#box2 > div > h1 {
  font-size: 50px;
}
#box3 {
  height: auto;
  text-align: left;
  font-size: x-small;
  color: grey;
}
.tickdown {
  color: #f37e5d;
}
#letstalk {
  font-size: xx-large;
  margin-top: 30px;
  padding-top: 50px;
  margin-right: 50px;
}
#price_plan1 {
  height: 60%;
  padding: 1px 10px;
}
#price_plan2 {
  padding: 1px 10px;
}
#review {
  width: 100%;
  background-color: white;
  margin-top: 100px;
}
#review1 {
  height: 250px;
  width: 45%;
  margin: auto;
  /* border: 1px solid teal; */
  text-align: center;
}
#review1 > p {
  margin-top: 100px;
  padding: 75px;
  color: grey;
}
#review1 > div {
  display: flex;
  width: 40%;
  margin: auto;
  color: grey;
  margin-top: 10 px;
}
#review1 > div > img {
  border-radius: 50%;
  width: 17%;
  border: 1px double black;
  margin-right: 10px;
  height: 10%;
}
#FAQ {
  width: 70%;
  margin: auto;
}
#faq_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  line-height: 32px;
}
#faq_grid p {
  color: grey;
}
#faq_grid b {
  color: black;
}
#faq_grid a {
  color: #f37e5d;
}

#upperpart {
  height: 200px;
  background-color: hsl(16, 88%, 69%);
  font-family: MuseoSans-700, sans-serif;
  font-size: 25px;
  color: white;
  text-align: center;
  padding-top: 30px;
}
#upperpart > button {
  background-color: white;
  cursor: pointer;
  color: rgb(243, 126, 93);
  border: white;
  padding: 15px 40px;
  font-size: 20px;
  font-weight: 500;
  font-family: MuseoSans-700, sans-serif;
  border-radius: 2%;
}
/* #upperpart>h3{line-height: 0px;} */
#upperpart > button:hover {
  background-color: antiquewhite;
}
#logo {
  border-radius: 40%;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

#logodiv > p {
  padding-left: 10px;
  line-height: 10px;
}
#lowfooter > div {
  padding-top: 15px;
  font-size: smaller;
  color: rgb(149, 143, 139);
}
#lowfooter > div > h3 {
  color: rgb(49, 45, 42);
  font-weight: 300;
}
#logob {
  width: 18px;
  height: 18px;
}
#lowfooter > div > div {
  line-height: 20px;
  cursor: pointer;
}
#lowfooter > div > p {
  cursor: pointer;
}

/* mediaquerry */
#lowfooter {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(2, 250px);
  grid-gap: 20px;
  justify-content: center;
  font-family: MuseoSans-700, sans-serif;
  grid-template-areas:
    "s a b c"
    "s d e f";
}
@media only screen and (min-width: 375px) and (max-width: 768px) {
  #lowfooter {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 250px);
    grid-template-areas:
      "s a b"
      ". c d"
      ". e f";
  }
  #last {
    display: block;
    padding: 0%;
  }
  #slogo {
    margin-left: 0%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 378px) {
  #lowfooter {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(4, 250px);
    grid-template-areas:
      "a b"
      "c d"
      "e f"
      "s s";
  }
  #logodiv {
    text-align: center;
  }
  #upperpart {
    height: 170px;
  }
  #upperpart {
    padding: 1px;
    padding-bottom: 15px;
  }
  #upperpart > button {
    padding: 10px;
    margin-bottom: 20px;
  }
  #last {
    display: block;
    text-align: center;
  }
  #slogo {
    margin-left: 0%;
  }
}
#last {
  display: flex;
  font-family: MuseoSans-700, sans-serif;
  padding-left: 15%;
  font-size: smaller;
  color: rgb(149, 143, 139);
}

.sociallogo {
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
#last > div > p > span {
  text-decoration: underline;
  cursor: pointer;
}
#slogo {
  margin-left: 40%;
}
