#orange_box{
    width: 100%;
    height: 600px;
    background-color: #f6976f;
}

#logo1_image{
width: 100%;
height: 80px;
margin-bottom: 80px;

}
#head_bar{
    width: 100%;
    height: 60px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}
#coshedule_product{
    width: 40%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
}
#image_div{
    /* border: 1px solid black; */
    width: 30%;
    display: flex;
    align-content: center;
}
#coshedule_product>button{
    background-color:#f6976f ;
    color: white;
    height: 40px;
    font-size: 17px;
    font-weight: bold;
    margin-top: 24px;
    border: 1px solid #f6976f ;
}
#sign_getdemo{
    width: 30%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
}
#Calendar_Button{
    border: 1px solid whitesmoke;
}
#signin_button{
    background-color:#f6976f ;
    color: white;
    height: 40px;
    font-size: 17px;
    font-weight: bold;
    margin-top: 24px;
    border: 1px solid #f6976f ; 
}
#getademo_button{
    background-color:#f6976f ;
    color: white;
    height: 40px;
    font-size: 17px;
    font-weight: bold;
    margin-top: 24px;
    border: 1px solid #f6976f ; 
}
#Calendar_Button{
    background-color:#f6976f ;
    color: white;
    height: 50px;
    font-size: 17px;
    font-weight: bold;
    margin-top: 19px;
    border: 1px solid white; 
    border-radius: 4px;
}
#middle_box{
    width: 100%;
    height: 70%;
    /* border: 1px solid black; */
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
#everything_box{
    width: 80%;
    height: 90%;
    /* border: 1px solid black; */
    }
#marketing_calender_logo{
    width: 100%;
    height: 31%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    
}
#heading{
    width: 100%;
    height: 31%;
    /* border: 1px solid rgb(187, 255, 0); */
    text-align: center;
}
#Create_my_calender_logo{
    width: 100%;
    height: 31%;
    /* border: 1px solid rgb(0, 255, 64); */
}
#logo_image{
    width: 50px;
    height: 50px;
}
#logo_image_div{
    width: 50px;
    height: 50px;

    /* border: 1px solid black; */
}
#Marketing_heading_text{
    text-align: center;
    color: white;
  
    background-color: #ef7154;
    height: 100%;
    width: 200px;
    font-size: 20px;
    padding: 5px 10px;
   
}
#logo_box{
    width: 300px;
    height: 50px;
  /* border: 1px solid black;  */
  margin-top: 40px;
  display: flex;
  background-color: #ef7154;
}
.firstp1{
    color: white;
    font-size: 60px;
}
.secondp{
    color: white;
    font-size: 25px;
    font-style: italic;
}
#secondp{
   margin-top: -50px;
   
}
#firstp1{
    margin-top: -50px;
}
#Create_my_calender_logo{
    display: flex;
    align-content: center;
    justify-content: center;
  
    
}
#create_calender_button{
   height: 60%;
   width: 200px;
   font-size: 20px;
  margin-top: 100px;
   border: 1px solid  #ef7154;
   background-color:  #ef7154;
   color: white;
}
.p3{
    margin-left: 45px;
    margin-top: -10px;
    
    
}
#calender_middle_div{
    /* border: 1px solid black ; */
}
#p3{
    color: white;
    font-size: 20px;
    font-style: italic;
}
#main_calender_demo_image_div{
    width: 100%;
    height: 400px;
    /* border: 3px solid rgb(14, 9, 9); */
    margin-top: -90px;
}
#calender_demo_image_div{
    width: 70%;
    height: 100%;
    display: flex;
    margin-left: 200px;
    /* border: 1px solid red; */
}
#calender_demo_image{
    width: 200%;
    height: 100%;
    margin-top: -65px;
}
#big_picture_content_box{
    width: 70%;
    height: 700px;
    /* border: 2px solid black; */
    margin: auto;
   
  

}

#header_big_picture{
    
    width: 100%;
    height: 10%;
   
    text-align: center;
}



#middle_box_big_picture{
    display: flex;
    /* border: 1px solid rgb(206, 27, 27); */
    width: 100%;
    height: 60%;
    
}
#paragraph_box{
    width: 40%;
    height: 100%;
    /* border: 1px solid yellowgreen; */
}

#big_picture_image{
  width: 59%;
  height:100% ;
  /* border: 1px solid blue; */
}
.para1{
    width: 100%;
    height: 50%;
   
    
    /* border: 1px solid brown; */
}

.para2{
    width: 100%;
    height: 50%;
    
    /* border: 1px solid rgb(42, 140, 165); */
}

#footer_big_picture{
    width: 100%;
    height: 30%;
    /* border: 1px solid rgb(165, 116, 42); */
    text-align: center;
    margin-bottom: 100px;
    font-family: "Merriweather",serif;
    font-weight: 10;
    font-style: italic;
   
}
.header_h1{
    color: #544b4b;
}
.h2para2{
    font-family: sans-serif;
    color: #544b4b;
}

.h2para1{
    font-family: sans-serif;
    color: #544b4b;
}
.para2p2{
    font-size: 17px;
    color: #726e6d;
    
}

.para1p1{
    font-size: 17px;
    color: #726e6d;
}
  .choco{
    margin-top: -30px;
    font-size: 15px;
}