body {
  background: rgb(251, 252, 253);
  font-family: sans-serif;
}
#logowithname {
  text-align: center;
  height: 50px;
  padding-top: 40px;
  /* width: 30px; */
}
#tagline {
  text-align: center;
  font-family: MuseoSans-700, sans-serif;
  line-height: 10px;
  margin-top: 2px;
  color: rgb(61, 61, 61);
}
#tagline > h2 {
  font-size: 40px;
}
#tagline > p {
  font-size: small;
  color: grey;
}
#dataentry {
  border: 2px solid whitesmoke;
  border-radius: 2%;
  width: 32%;
  height: 600px;
  background: white;
  margin: auto;
  padding: 45px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.in {
  width: 100%;
  height: 40px;
  border: 1px solid rgb(185, 185, 185);
}
#dataentry > p {
  line-height: 0px;
  font-family: MuseoSans-700, sans-serif;
  font-size: x-small;
  margin-top: 25px;
  color: rgb(149, 143, 139);
}
button {
  margin-top: 20px;
  padding: 15px 20px;
  width: 40%;
  margin-left: 65%;
  font-size: small;
  border-radius: 3%;
  border: none;
  background-color: hsl(16, 88%, 69%);
  color: white;
  cursor: pointer;
}
#footertext {
  color: rgb(149, 143, 139);
  font-family: MuseoSans-700, sans-serif;
  font-size: x-small;
}
#footertext > span {
  text-decoration: underline;
  cursor: pointer;
}
