#main {
  grid-area: a;
  align-content: center;
  padding: 40px;
}
#image {
  grid-area: i;
  object-fit: cover;
}
#footer {
  grid-area: f;
}
#heading {
  text-align: center;
  font-family: MuseoSans-700, sans-serif;
  line-height: 10px;
  margin-top: 40px;
  color: rgb(61, 61, 61);
}
#heading > h1 {
  line-height: 50px;
  font-size: 40px;
}
#logoimg {
  text-align: center;
}
#inputdata {
  width: 50%;
  height: 500px;
  background: white;
  margin: auto;
  padding: 20px;
}
.inpfree {
  width: 100%;
  height: 40px;
  border: 1px solid rgb(185, 185, 185);
}
#inputdata > p {
  line-height: 0px;
  font-family: MuseoSans-700, sans-serif;
  font-size: small;
  margin-top: 25px;
  color: rgb(149, 143, 139);
}
#inputdata > div > button {
  margin-top: 20px;
  padding: 10px;
  margin-left: 64%;
  font-size: medium;
  border-radius: 3%;
  border: none;
  background-color: hsl(16, 88%, 69%);
  color: white;
  cursor: pointer;
}
#footertext {
  color: rgb(149, 143, 139);
  font-family: MuseoSans-700, sans-serif;
  font-size: small;
}
#footertext > span {
  text-decoration: underline;
  cursor: pointer;
}
#image {
  height: 100%;
  width: 100%;
  background-color: #f68f6a;
  color: white;
}
#image > div {
  width: 70%;
  margin: auto;
  line-height: 2em;
  margin-top: 20%;
  margin-bottom: 2px;
}
p > img {
  border-radius: 40%;
  width: 30%;
  object-fit: contain;
  margin-top: 2px;
}
#footer > div {
  justify-content: space-between;
  display: flex;
  padding: 40px 120px 5px;
}
#footer > div > div > p {
  display: inline-block;
  padding-left: 20px;
  cursor: pointer;
}
#lasttext {
  padding-left: 120px;
  color: rgb(149, 143, 139);
  font-family: MuseoSans-700, sans-serif;
  font-size: small;
}
#lasttext > span {
  text-decoration: underline;
  cursor: pointer;
}

#parentdiv {
  display: grid;
  grid-template-columns: 990px 510px;
  grid-template-rows: 900px 200px;
  grid-template-areas:
    "a i"
    "f f";
}
@media only screen and (min-width: 375px) and (max-width: 768px) {
  #parentdiv {
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 900px 400px 200px;
    grid-template-areas:
      "a"
      "i"
      "f";
  }

  #heading > p {
    font-size: x-small;
  }
}
@media only screen and (min-width: 0px) and (max-width: 375px) {
  #parentdiv {
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1100px 400px 200px;
    grid-template-areas:
      "a"
      "i"
      "f";
  }
  #inputdata {
    width: 100%;
    padding-left: 0;
  }
  #heading > p {
    line-height: 20px;
  }
  #inputdata > div > button {
    margin-top: 20px;
    padding: 15px;
    margin-left: 20%;
    font-size: large;
    border-radius: 3%;
  }
  #footer > div > div > p {
    display: block;
  }
  #footer {
    padding-left: 0%;
    display: initial;
    justify-content: initial;
  }
  #heading > p {
    font-size: xx-small;
  }
}
